@import "../../common/index";

.wxVueYlt-pullRefresh{
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  /**利用css3属性calc来计算整个浏览器窗口高度减去50px的大小**/
  height: calc(100vh - 50px);
  .wxWueYlt-pullRefresh_track{
    position: relative;
    height: calc(100vh - 50px);
  }
}